<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myCV" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myCV" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myCV" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myCV" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nguyễn Văn Hiện - CV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp">
<div class="wrapper">
    <div class="sidebar-wrapper" ng-controller="getAboutMe">
        <div class="profile-container">
            <img class="img-circle profile" ng-src="{{result.Img}}" alt="" width="250px" height="250px"data-toggle="modal" data-target="#myModalImg"/>

            <h1 class="name">{{result.Name}}</h1>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalName"><span
                    class="glyphicon glyphicon-pencil"></span></button>
        </div>

        <div id="myModalImg" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="Path" style="color: #000000"><span class="glyphicon glyphicon-film"></span> Source file</label>
                        <input type="text" class="form-control" id="Path" ng-model="result.Img">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
        <!--Thay đổi thông tin tên người dùng-->
        <div id="myModalName" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" style="color: #000000"><span class="glyphicon glyphicon-user"></span> Name</label>
                            <input type="text" class="form-control" id="name" ng-model="result.Name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li><i class="fa fa-university"><span>{{result.Major}}</span></i>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>


                <li><i class="fa fa-phone"></i><a href="tel:0123 456 789">{{result.Mobile}}</a>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>


                <li class="email"><i class="fa fa-envelope"></i><a
                        href="mailto: yourname@email.com">{{result.Email}}</a>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>


                <li><i class="fa fa-flag"></i><span>{{result.Country}}</span>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>


                <li><i class="fa fa-linkedin"></i><a href="{{result.Linkedin}}" target="_blank">Linkedin</a>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>


                <li><i class="fa fa-facebook"></i><a href="{{result.Facebook}}" target="_blank">Facebook</a>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#myModalInfo"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </li>

            </ul>
            <div id="myModalInfo" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="major" style="color: #000000"><i class="fa fa-university"></i> Major</label>
                                <input type="text" class="form-control" id="major" ng-model="result.Major">
                            </div>
                            <div class="form-group">
                                <label for="phone" style="color: #000000"><i class="fa fa-phone"></i> Phone</label>
                                <input type="text" class="form-control" id="phone" ng-model="result.Mobile">
                            </div>
                            <div class="form-group">
                                <label for="email" style="color: #000000"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" class="form-control" id="email" ng-model="result.Email">
                            </div>
                            <div class="form-group">
                                <label for="country" style="color: #000000"><i class="fa fa-flag"></i> Country</label>
                                <input type="text" class="form-control" id="country" ng-model="result.Country">
                            </div>
                            <div class="form-group">
                                <label for="linkedin" style="color: #000000"><i class="fa fa-linkedin"></i>
                                    Linkedin</label>
                                <input type="text" class="form-control" id="linkedin" ng-model="result.Linkedin">
                            </div>

                            <div class="form-group">
                                <label for="facebook" style="color: #000000"><i class="fa fa-facebook"></i>
                                    Facebook</label>
                                <input type="text" class="form-control" id="facebook" ng-model="result.Facebook">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--//contact-container-->

    </div>
    <!--//sidebar-wrapper-->

    <div class="main-wrapper">

        <section class="section summary-section" ng-controller="getSummary">
            <h2 class="section-title"><i class="fa fa-user"></i>Sumary</h2>

            <div class="summary">
                <p ng-repeat="item in result">

                    {{item.value}}
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalSummary"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                </p>
            </div>
            <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalAddSummary"><i
                        class="fa fa-plus-square"></i> Add Summary
                </button>
            </div>
            <!--//summary-->
            <!--Chỉnh sửa thông tin Summary-->
            <div id="myModalSummary" class="modal fade container" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="section-title"><i class="fa fa-user"></i>Sumary</h2>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li ng-repeat="item in result" class="row">
                                    <i class="col-md-1 fa fa-hand-o-down"
                                       style="padding-top: 15px; margin-right: -10px"></i>
                                    <textarea rows="3" data-ng-model="item.value" class="col-md-10"
                                              style="margin-right: 5px; margin-bottom: 5px"></textarea>
                                    <button class="col-md-1 btn btn-danger btn-xs" style="margin-top: 20px"
                                            ng-click="removeItem($index)"><span
                                            class="glyphicon glyphicon-remove"> Xóa</span></button>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Kết thúc chỉnh sửa thông tin Summary -->

            <!--Bổ sung thông tin trong Summary-->
            <div id="myModalAddSummary" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="summary" style="color: #000000"><span
                                        class="glyphicon glyphicon-user"></span> Summary</label>
                                <textarea class="form-control" id="summary" ng-model="AddSummary"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="AddItem()" data-dismiss="modal">
                                Add
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Kết thúc bổ sung thông tin Summary -->

        </section>
        <!--//section-->

        <section class="section experiences-section" ng-controller="getExperience">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

            <div class="item" ng-repeat="item in result">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{item.job }}
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#myModalExperience"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </h3>

                        <div class="time">{{item.year}}</div>
                    </div>
                    <!--//upper-row-->
                    <div class="company">{{item.place}}</div>
                </div>
                <!--//meta-->
                <strong>My main tasks are:</strong>
                <ul ng-repeat="subitem in item.tasks">
                    <li>{{subitem.value}}</li>
                </ul>
            </div>
            <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalAddExperience"><i
                        class="fa fa-plus-square"></i> Add Experience
                </button>
            </div>
            <!--//item-->

            <div id="myModalExperience" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <li type="1" ng-repeat="item in result">
                                <div class="form-group">
                                    <label for="job"> Job <button class="btn btn-danger btn-xs" style="margin-top: 20px"
                                                                  ng-click="removeItem($index)"><span
                                            class="glyphicon glyphicon-remove"> Xóa</span></button></label>
                                    <input type="text" class="form-control" id="job" ng-model="item.job">

                                </div>
                                <div class="form-group">
                                    <label for="place"> Place</label>
                                    <input type="text" class="form-control" id="place" ng-model="item.place">
                                </div>
                                <div class="form-group">
                                    <label for="year"> Year</label>
                                    <input type="text" class="form-control" id="year" ng-model="item.year">
                                </div>
                                <div class="form-group">
                                    <label> Task</label>

                                    <div ng-repeat="subitem in item.tasks">
                                        <input type="text" style="margin: 2px 10px" class="form-control"
                                               ng-model="subitem.value">
                                    </div>

                                </div>
                                <hr>
                            </li>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalAddExperience" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addjob"> Job</label>
                                <input type="text" class="form-control" id="addjob" ng-model="job">
                            </div>
                            <div class="form-group">
                                <label for="addplace"> Place</label>
                                <input type="text" class="form-control" id="addplace" ng-model="place">
                            </div>
                            <div class="form-group">
                                <label for="addyear"> Year</label>
                                <input type="text" class="form-control" id="addyear" ng-model="year">
                            </div>
                            <div class="form-group">
                                <label for="addtask"> Task</label>
                                <input type="text" id="addtask" class="form-control" ng-model="value">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="AddItem()" data-dismiss="modal">
                                Add
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section projects-section" ng-controller="getProject">
            <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

            <div class="intro">
                <p>Dưới đây là một số đồ án mà tôi đã từng làm.</p>
            </div>
            <!--//intro-->
            <div class="item" ng-repeat="item in result">
                <span class="project-title"><strong>{{item.name}}</strong> <button type="button"
                                                                                   class="btn btn-info btn-sm"
                                                                                   data-toggle="modal"
                                                                                   data-target="#myModalProject"><span
                        class="glyphicon glyphicon-pencil"></span></button></span>

                <p class="project-tagline">{{item.decription}}</p>

            </div>
            <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalAddProject"><i
                        class="fa fa-plus-square"></i> Add Project
                </button>
            </div>


            <div id="myModalProject" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <li type="1" ng-repeat="item in result">
                                <div class="form-group">
                                    <label for="nameproject"> Project Name<button class="btn btn-danger btn-xs" style="margin-top: 20px"
                                                                                  ng-click="removeItem($index)"><span
                                            class="glyphicon glyphicon-remove"> Xóa</span></button></label>
                                    <input type="text" class="form-control" id="nameproject" ng-model="item.name">
                                </div>
                                <div class="form-group">
                                    <label for="decription"> Decription</label>
                                    <textarea class="form-control" rows="3" id="decription"
                                              ng-model="item.decription"></textarea>
                                </div>
                                <hr>
                            </li>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalAddProject" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addnameproject"> Project Name</label>
                                <input type="text" class="form-control" id="addnameproject" ng-model="name">
                            </div>
                            <div class="form-group">
                                <label for="adddecription"> Decription</label>
                                <textarea class="form-control" rows="3" id="adddecription"
                                          ng-model="decription"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="AddItem()" data-dismiss="modal">
                                Add
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//section-->

        <section class="skills-section section" ng-controller="getSkill">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>

            <div class="skillset">
                <div class="item" ng-repeat="item in result">
                    <h3 class="level-title">{{item.name}} <button type="button"
                                                                  class="btn btn-info btn-sm"
                                                                  data-toggle="modal"
                                                                  data-target="#myModalSkill"><span
                            class="glyphicon glyphicon-pencil"></span></button></span></h3>

                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{item.exp}}%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->
            </div>
            <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalAddSkill"><i
                        class="fa fa-plus-square"></i> Add Skill
                </button>
            </div>


            <div id="myModalSkill" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <li type="1" ng-repeat="item in result">
                                <div class="form-group">
                                    <label for="skillname"> Skill Name<button class="btn btn-danger btn-xs" style="margin-top: 20px"
                                                                              ng-click="removeItem($index)"><span
                                            class="glyphicon glyphicon-remove"> Xóa</span></button></label>
                                    <input type="text" class="form-control" id="skillname" ng-model="item.name">
                                </div>
                                <div class="form-group">
                                    <label for="exp"> Exp</label>
                                    <input type="text" class="form-control" id="exp" ng-model="item.exp">
                                </div>
                                <hr>
                            </li>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalAddSkill" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addnameskill"> Skill Name</label>
                                <input type="text" class="form-control" id="addnameskill" ng-model="name">
                            </div>
                            <div class="form-group">
                                <label for="addexp"> Exp (%)</label>
                                <textarea class="form-control" rows="3" id="addexp"
                                          ng-model="exp"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="AddItem()" data-dismiss="modal">
                                Add
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//skills-section-->

        <section class="section education-section" ng-controller="getEducation">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Education</h2>

            <div class="item" ng-repeat="item in result">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{item.job}} <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                                   data-target="#myModalEducation"><span
                                class="glyphicon glyphicon-pencil"></span></button></h3>

                        <div class="time">{{item.year}}</div>
                    </div>
                    <!--//upper-row-->
                    <div class="company">{{item.place}}</div>
                </div>
                <!--//meta-->
                <ul ng-repeat="subitem in item.data">
                    <li>{{subitem.value}}</li>
                </ul>
            </div>

            <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalAddEducation"><i
                        class="fa fa-plus-square"></i> Add Experience
                </button>
            </div>
            <!--//item-->

            <div id="myModalEducation" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <li type="1" ng-repeat="item in result">
                                <div class="form-group">
                                    <label for="jobedu"> Job <button class="btn btn-danger btn-xs" style="margin-top: 20px"
                                                                     ng-click="removeItem($index)"><span
                                            class="glyphicon glyphicon-remove"> Xóa</span></button></label>
                                    <input type="text" class="form-control" id="jobedu" ng-model="item.job">
                                </div>
                                <div class="form-group">
                                    <label for="placeedu"> Place</label>
                                    <input type="text" class="form-control" id="placeedu" ng-model="item.place">
                                </div>
                                <div class="form-group">
                                    <label for="yearedu"> Year</label>
                                    <input type="text" class="form-control" id="yearedu" ng-model="item.year">
                                </div>
                                <div class="form-group">
                                    <label> Some Infomation</label>

                                    <div ng-repeat="subitem in item.data">
                                        <input type="text" style="margin: 2px 10px" class="form-control"
                                               ng-model="subitem.value">
                                    </div>

                                </div>
                                <hr>
                            </li>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalAddEducation" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addjobedu"> Job</label>
                                <input type="text" class="form-control" id="addjobedu" ng-model="job">
                            </div>
                            <div class="form-group">
                                <label for="addplaceedu"> Place</label>
                                <input type="text" class="form-control" id="addplaceedu" ng-model="place">
                            </div>
                            <div class="form-group">
                                <label for="addyearedu"> Year</label>
                                <input type="text" class="form-control" id="addyearedu" ng-model="year">
                            </div>
                            <div class="form-group">
                                <label for="adddataedu"> Task</label>
                                <input type="text" id="adddataedu" class="form-control" ng-model="value">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="AddItem()" data-dismiss="modal">
                                Add
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--//main-body-->
</div>

<footer class="footer">
    <div class="text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <i class="fa fa-copyright"></i>
        <small class="copyright">Designed with Hiện Nguyễn</small>
    </div>
    <!--//container-->
</footer>
<!--//footer-->
<!-- Modal Name -->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });
</script>
</body>
</html>
